---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" image="/assets/home/hero.jpg" pathname="/">
  <p class="my-5">
    In this page I'm going to get you on a whole new journey through the
    wonderful world of game development. Or at least that's what I wanted to
    say.
  </p>
  <h2>
    Feel Free to browse the other pages they are not as empty as this one :)
  </h2>
</Layout>
